main {
    grid-column: 1/4;
}

main section,
main section .container {
    height: 100%;
}

.body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
}

.body-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.body-main-content {
    margin: auto;
    text-align: center;
    display: inline-block;
}

.body-main-content p#description {
    text-align: left;
    font-size: 20px;
}

.body-main-content img {
    height: 150px;
}

.body-projects {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}