footer {
    grid-column: 1/4;
}

.my-footer{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr;
}

.my-footer-content {
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.my-footer-content:first-child {
    padding-left: 10px;
}

.fa-heart {
    color: red;
}