@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

#social-icons {
    font-size: 1.5em;
}

#social-icons a {
    text-decoration: none;
    color: black;
}

#social-icons a:hover {
    color: black;
    text-decoration: none;
}

header {
    grid-column: 1/4;
}

.my-nav {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: .5fr 1fr .5fr;
}

.nav-section {
    display: inline-block;
    text-align: center;
    line-height: 50px;
}


#name {
    font-style: normal;
    font-family: 'Cedarville Cursive', cursive;
    vertical-align: middle;
}

#name h3 {
    margin: 0px;
    line-height: 50px;
}
